/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: 100%;
    border-radius: 0;
}

/* /////////////////////////// */
.benefits .testimonial .testimonial-item>img {
    border-radius: 0%;
    display: block;
    float: none;
    height: 36px;
    margin: 0 auto 10px;
    width: 36px;
}

.b_dashed_krug {
    border-top: 1px dashed #060e35;
    margin-top: 13px;
}


.krug1 {
    margin-top: -12px;
    float: left;
    margin-right: 0px;
}

.krug2 {
    margin-top: -12px;
    float: left;
    margin-right: 0px;
}

.way_color {
    color: #0067ef;
}

.product .product-title {
    max-width: 100%;
}

.dark #header .header-inner,
.dark #header #header-wrap,
#header.dark .header-inner,
#header.dark #header-wrap {
    background-color: #123548;
}

.dark:not(.submenu-light) #mainMenu nav>ul>li .dropdown-menu,
#mainMenu.dark nav>ul>li .dropdown-menu {
    background-color: #123548;
    border-color: #123548;
}

@media (max-width: 1024px) {

    .mainMenu-open.dark #header .header-inner,
    .mainMenu-open.dark #header #header-wrap,
    .mainMenu-open #header:not(.submenu-light).dark .header-inner,
    .mainMenu-open #header:not(.submenu-light).dark #header-wrap {
        background-color: #123548 !important;
    }
}


.about{
    text-align: justify;
}

@media (min-width: 768px) {

    .about .photo
    {
        max-width: 500px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
}

#topbar .top-menu > li > a {
    font-size: 12px;
}

@media (max-width: 1200px){
    #soc_top {
        display: none!important;
    }
} 